# Student Marks Analysis

In [15]:
import pandas as pd
marks = pd.read_csv("students.csv")
marks.head()

     Name  Math  Science  English  Computer
0   Aryan    88       90       91        95
1   Bhumi    76       82       85        89
2   Nayra    92       88       79        94
3   Jonas    65       70       88        72
4  Ronnie    81       85       84        90

In [16]:
# Calculate the average marks of each student
marks["Average"] = marks.mean(axis=1, numeric_only=True)
highest_idx = marks["Average"].idxmax()
min_idx = marks["Average"].idxmin()

In [17]:
# Find out the topper and the student who scored the lowest
top_student = marks.loc[highest_idx, "Name"]
last_student = marks.loc[min_idx, "Name"]

print(f"{top_student} scored the highest")
print(f"{last_student} scored the lowest")

Ishant scored the highest
Eric scored the lowest

In [18]:
# Create a new file
marks.to_csv("new_students.csv", index=False)