# Expense Tracker

In [98]:
import pandas as pd
expenses = pd.read_csv("expenses.csv")
expenses.head(10)

         Date        Category  Amount(USD)
0  2025-01-01            Food        28.50
1  2025-01-03  Transportation        15.00
2  2025-01-05       Utilities       145.20
3  2025-01-08            Food        12.40
4  2025-01-10   Entertainment        45.00
5  2025-01-14  Transportation        22.00
6  2025-01-18            Food        34.15
7  2025-01-22        Shopping        89.99
8  2025-01-25            Food        18.00
9  2025-01-29  Transportation        35.00

In [99]:
total_expenses = expenses["Amount(USD)"].sum()
print(f"Total spending of 2025 is {total_expenses}$")

Total spending of 2025 is 5640.89$

In [53]:
spending_by_category = expenses.groupby("Category")["Amount(USD)"].sum()
print(spending_by_category)

Category
Entertainment      910.00
Food              1157.45
Shopping          1231.14
Transportation     566.50
Utilities         1775.80
Name: Amount(USD), dtype: float64

In [100]:
highest_spending_day = expenses["Amount(USD)"].idxmax()
highest_amount = expenses.loc[highest_spending_day, "Amount(USD)"]
date = expenses["Date"][highest_spending_day]

print(f"The highest expense day of 2025 is {date} with an expense of {highest_amount}")

The highest expense day of 2025 is 2025-05-01 with an expense of 210.0

In [88]:
expenses["Date"] = pd.to_datetime(expenses["Date"])
expenses["Month"] = expenses["Date"].dt.month_name()

months_order = ["January", "February", "March", "April", "May", "June", 
                "July", "August", "September", "October", "November", "December"]

expenses["Month"] = pd.Categorical(expenses["Month"], categories=months_order, ordered=True)
months = expenses.groupby("Month", observed=True)["Amount(USD)"].sum()
print(months)

Month
January       445.24
February      432.45
March         345.65
April         325.10
May           487.30
June          447.75
July          414.55
August        457.75
September     371.50
October       413.90
November      497.30
December     1002.40
Name: Amount(USD), dtype: float64